[Unit]
Description=HomematicToInflux
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/hmtoinflux/hmtoinflux
ExecStart=/home/hmtoinflux/hmtoinflux/.venv/bin/python3 -m hmtoinflux
Environment=PYTHONUNBUFFERED=1
User=hmtoinflux
Group=hmtoinflux

SyslogIdentifier=hmtoinflux
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target